{% extends "doctor.html" %}

{% block title %}Tra cứu thuốc{% endblock %}


{% block content %}
<h1 class="text-center">TRA CỨU THUỐC</h1>
<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto">
            <form action="/doctor/tra-cuu-thuoc" method="get">
                <div class="row g-3 align-items-center justify-content-center">
                    <div class="col-auto">
                        <label class="col-form-label">Tên thuốc:</label>
                    </div>
                    <div class="col-12 col-sm-4">
                        <input type="text" autocomplete="on" name="kw" class="form-control bg-light border-0"
                               placeholder="Nhập tên thuốc"
                               style="height: 55px;">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" style="width:120px; height: 55px;">Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-5 ">
            <table class="table table-striped " >
                <thead>
                  <tr>
                    <th>Tên</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Ngày sản xuất</th>
                    <th>Hạn sử dụng</th>
                    <th>Đơn vị tính</th>
                  </tr>
                </thead>
                <tbody>
                {% if thuoc %}
                    {% for t in thuoc %}
                      <tr>
                        <td>
                            {{ t.ten }}
                        </td>
                        <td>
                           {{ "{:,.0f} VNĐ".format(t.donGia)|replace(',', '.') }}
                        </td>
                          <td>
                           {{ t.soLuong }}
                        </td>
                          <td>
                           {{ t.ngaySX.strftime('%d-%m-%Y') }}
                        </td>
                          <td>
                           {{ t.hanSD.strftime('%d-%m-%Y') }}
                        <td>
                            {% for dvt in donViThuoc %}
                                {% if dvt.id == t.donVi_id %}
                                    {{ dvt.donVi }}
                                {% endif %}
                            {% endfor %}
                        </td>
                      </tr>
                     {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
