{% extends "doctor.html" %}

{% block title %}Xem lịch sử bệnh{% endblock %}


{% block content %}
<h1 class="text-center">XEM LỊCH SỬ BỆNH</h1>
<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto">
            <form action="/doctor/xem-lich-su-benh" method="get">
                <div class="row g-3 align-items-center justify-content-center">
                    <div class="col-auto">
                        <label class="col-form-label">Tên bệnh nhân:</label>
                    </div>
                    <div class="col-12 col-sm-4">
                        <input type="text" autocomplete="on" name="kw" class="form-control bg-light border-0"
                               placeholder="Nhập tên bệnh nhân"
                               style="height: 55px;">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" style="width:120px; height: 55px;">Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-5 ">
            <table class="table table-striped " >
                <thead>
                  <tr>
                    <th>Tên bệnh nhân</th>
                    <th>Năm sinh</th>
                    <th>Giới tính</th>
                    <th>SĐT</th>
                    <th>Ngày khám</th>
                    <th>Dự đoán bệnh</th>
                  </tr>
                </thead>
                <tbody>
                {% if lichSuBenh %}
                    {% for lsb in lichSuBenh %}
                      <tr>
                        <td>
                            {{ lsb.tenBenhNhan}}
                        </td>
                        <td>
                            {{ lsb.namSinh.strftime('%d-%m-%Y')}}
                        </td>
                          <td>
                            {{ lsb.gioiTinh}}
                        </td>
                          <td>
                            {{ lsb.sdt }}
                        </td>
                          <td>
                            {{ lsb.ngayKham.strftime('%d-%m-%Y')}}
                        </td>
                        <td>
                            {{ lsb.duDoanBenh}}
                        </td>
                      </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
